repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: trailing-whitespace
          - id: check-ast
          - id: check-yaml
          - id: check-toml
          - id: check-byte-order-marker
          - id: check-case-conflict
          - id: check-docstring-first
          - id: debug-statements
          - id: detect-private-key
          - id: detect-aws-credentials
            args: [--allow-missing-credentials]
          - id: forbid-new-submodules
          - id: end-of-file-fixer
          - id: check-executables-have-shebangs
          - id: check-added-large-files
            args: ["--maxkb=5000"]
          - id: check-merge-conflict
          - id: mixed-line-ending
          - id: name-tests-test
            args: ["--django"]
          - id: check-json

    # Remove MyPy: conflicts in python 3.9 with pytz
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.8.0
      hooks:
        - id: mypy
          args: ["--ignore-missing-imports", "--check-untyped-defs"]

    - repo: https://github.com/pre-commit/mirrors-isort
      rev: v5.10.1
      hooks:
        - id: isort
          args: ["--profile", "black"]

    - repo: https://github.com/psf/black
      rev: 24.2.0
      hooks:
        - id: black
          args: ["-l 120"]

    - repo: https://github.com/asottile/blacken-docs
      rev: 1.16.0
      hooks:
        - id: blacken-docs

    - repo: https://github.com/PyCQA/flake8
      rev: "7.0.0"
      hooks:
        - id: flake8

    - repo: https://github.com/kynan/nbstripout
      rev: 0.7.1
      hooks:
        - id: nbstripout


    - repo: https://github.com/charliermarsh/ruff-pre-commit
      # Ruff version. To eventually replace flake8?
      rev: "v0.2.1"
      hooks:
        - id: ruff
          # Respect `exclude` and `extend-exclude` settings.
          # args: ["--force-exclude", ] <-- apparently already provided somehow? Vai pyproject.toml? Not sure.
