pandas
numpy<1.22
matplotlib
statsmodels
bokeh
scikit-image
scikit-learn
patsy
plotly
numba
seaborn
pydantic

# Notebook imports
ipywidgets

flake8
tox
coverage
Sphinx
twine
pytest
pytest-runner
pre-commit
